$navBar: #ed7420; // DH Orange
$dropdownMenu: white;

.navBar {
  background-color: $navBar;
  height: 50px;
  position: sticky;
}
.menuItem {
  color: $dropdownMenu;
  margin-top: 10px;
  padding: 0;
}

.dropdown-toggle.nav-link {
  color: $dropdownMenu;
  margin-top: 10px;
  padding: 0;
}
