.test {
  background-color: black;
}

.navBar {
  background-color: #313131;
  height: 50px;
  position: sticky;
  z-index: 1;
}

.menuItem {
  color: gainsboro;
  margin-top: 10px;
  padding: 0;
}

.logoImage {
  height: 60px;
}

.logoText {
  font-size: 45px;
  color: yellow;
  -webkit-text-stroke: 1px red;
}

.submenuItem {
  color: black;
  margin-top: 10px;
  padding: 0;
}

.dropdown-toggle.nav-link {
  color: gainsboro;
  margin-top: 10px;
  padding: 0;
}

.showcaseItem {
  width: 275px;
  padding: 5px;
  background-color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tagline {
  font-style: oblique;
  color: white;
  font-size: 0.9rem;
}

.redWarning {
  padding-top: 0;
  margin-top: 0;
  color: red;
  font-size: 1.2rem;
  line-height: 1.15;
}

.headerText {
  margin-top: 10px;
  color: yellow;
  font-size: 1.5rem;
  line-height: 1.15;
}

.headerSubtext {
  color: gainsboro;
  line-height: 1.15;
}

.storeSubHeader {
  margin-top: 10px;
  color: yellow;
  font-size: 1.5rem;
  line-height: 1.15;
}

.content {
  color: gainsboro;
}

.middle {
  text-align: center;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.copyright {
  font-size: 0.7rem;
  color: gainsboro;
}

hr.lightLine {
  border-top: 1px solid gainsboro;
}

.booksButton {
  margin-top: 3px;
  margin-bottom: 3px;
  width: 100%;
}

.storeButton {
  margin-top: 3px;
  margin-bottom: 3px;
  width: 35%;
}